@font-face {
    font-family: "Raleway", sans-serif;
    src: url("../fonts/Raleway/Raleway-Regular.woff2") format("woff2"),
         url("../fonts/Raleway/Raleway-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url("../fonts/Raleway/Raleway-Medium.woff2") format("woff2"),
         url("../fonts/Raleway/Raleway-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url("../fonts/Raleway/Raleway-Bold.woff2") format("woff2"),
         url("../fonts/Raleway/Raleway-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url("../fonts/Raleway/Raleway-SemiBold.woff2") format("woff2"),
         url("../fonts/Raleway/Raleway-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
         url("../fonts/Poppins/Poppins-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
         url("../fonts/Poppins/Poppins-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"),
         url("../fonts/Poppins/Poppins-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"),
         url("../fonts/Poppins/Poppins-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
